div.profile-name {
    text-align: center;
    padding: 30px;
    }

img {
    border-radius: 50%;
    }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    }

body{
    font-family: georgia;
    font-size: 15px;
    letter-spacing: 2px;
    color:sandybrown;
    background: rgb(162, 192, 162);
}
.links {
    text-align: center;
    background-color: #23abd8;
    border: 1px tan;
    border-width: 2px;
    width: 290px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border-radius: 40px;
}

a:hover {
text-decoration: none;
color: white;
}