div.profile-name {
    text-align: center;
    padding: 30px;
    color: #23abd8;
    font-size: 50px;
    }

img {
    border-radius: 100%;
    }

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 100px;
    }

img.profile-picture {
    width: 100%;
    height: auto;
}

body{
    font-family: georgia;
    font-size: 15px;
    letter-spacing: 5px;
    color: whitesmoke;
    background-image: linear-gradient(180deg, rgba(160, 255, 136, 0) ,rgba(255, 255, 255, 0));
}

.links {
    text-align: center;
    background-color: #23abd8;
    border: 1px tan;
    border-width: 2px;
    width: 290px;
    padding: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 40px;
    text-decoration: none;
}

a:hover {
text-decoration: none;
color: white;
}